@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Mono', monospace;
}

div {
  box-sizing: border-box;
}

.App {
  display: flex;
  min-height: 100vh;
}

.content {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url('./components/images/power_grid.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
}

.hamburg {
  display: none;
  box-sizing: border-box;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .hamburg {
    height: 6vh;
    width: 100%;
    font-size: 3vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}
